html, body {
    position: relative;
    overflow-x: hidden;
}

body, html {
  height: 100%;
  margin: 0;
}

body {
  background-color: #fbf7fb;
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.navbar h2{
    padding: 30px !important;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold !important;
    letter-spacing: 3px;
}

.intro-text h2{
font-family: 'Poppins';
font-style: normal;
font-weight:  bold;
font-size:65px;
line-height: 114.5%;
color: #ABABAB;

}

.intro-text h3{
font-family: 'Poppins';
font-style: normal;
font-weight:  bold;
font-size:30px;
line-height: 114.5%;
color: black;

}
.intro-text h4{
  color:  #ABABAB;
}

.intro-text{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 50vh !important;
}

.intro img {
  width: 90%;
  z-index: 10;
  
}


@media (max-width: 767px){
  .intro img {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 90%;
    z-index: 10;
    margin: 0 auto;
    display: block; 
  }
  .intro-text h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight:  bold;
    font-size:50px;
    line-height: 114.5%;
    color: #ABABAB;
    
    }
}


